@use '@/a.app/styles/variables';

.uiTitle {
  font-weight: bold;
  color: variables.$textColor1;

  &_s {
    font-size: 12px;
  }

  &_m {
    font-size: 16px;
  }

  &_l {
    font-size: 20px;
  }

  &_xl {
    font-size: 24px;
  }

  &_xxl {
    font-size: 64px;
  }
}