@use  '@/a.app/styles/variables';

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-m);
}

.meal {
  display: flex;
  justify-content: space-between;
}

.mealItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border: 1px solid var(--text-color-2);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs) var(--spacing-s);

  &Title {
    font-weight: bold;
  }
}

.paramItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex: 1;

  &Title {
    color: var(--text-color-2);
  }

  &Value {
    font-weight: bold;
  }
}