@use  '@/a.app/styles/variables';
;

.list {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingS;
  margin-bottom: variables.$spacingM;
}

.meal {
  display: flex;
  justify-content: space-between;
}

.mealItem {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingXS;
  border: 1px solid variables.$textColor2;
  border-radius: variables.$borderRadius8px;
  padding: variables.$spacingXS variables.$spacingS;

  &Title {
    font-weight: bold;
  }
}

.paramItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$spacingXS;

  &Title {
    color: variables.$textColor2;
  }

  &Value {
    font-weight: bold;
  }
}