@use "@/a.app/styles/variables";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'SF Pro Text',
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: variables.$mainColor;
  color: variables.$textColor1;
  height: 100%;
  box-sizing: border-box;
}

body::before {
  content: ""; position: fixed; inset: 0; pointer-events: none;
  background:
          radial-gradient(800px 400px at 2% 71%, rgba(34, 200, 167, 0.1), transparent 60%),
          radial-gradient(700px 500px at 99% 40%, rgba(96, 165, 250, 0.06), transparent 60%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* чтобы «свет» прилипал к вьюпорту */
}

.prod-mock {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: variables.$mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: variables.$fontSizeL;
  color: variables.$textColor1;
}
