$mainColor: #1A1C2C;

$accentColor1: #7BF2DA;

$textColor1: #FFFFFF;
$textColor2: #A0A0B2;
$textColor3: #1A1C2C;

$borderRadius8px: 8px;

$boxShadow: 0 0 16px rgba(255, 255, 255, 0.16);

$spacingXS: 8px;
$spacingS: 16px;
$spacingM: 24px;