@use  '@/a.app/styles/variables';

.goalsWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: var(--spacing-m);
}

.goalItem {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  background: var(--background-color-2);
  border-radius: var(--border-radius);
  flex: 1;
}