@use  '@/a.app/styles/variables';

.coachPageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.about {
  display: flex;
  gap: var(--spacing-m);
  border-bottom: 1px solid var(--background-color-2);
  padding-bottom: var(--spacing-m);
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}
