.proButton {
  $gold: #FFC107;

  &[class*='button'][class*='ant-btn'][class*='ant-btn-default'] {
    background: $gold;
    border-color: $gold;
  }

  &[class*='button'][class*='ant-btn'][class*='ant-btn-default']:hover  {
    color: $gold;
    border-color: $gold;
    background: transparent;
  }
}