@use '@/a.app/styles/variables';

.aiAssistantWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.lessonRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.videoContainer {
  flex: 1;

  & [class*='lk-button'], & [class*='lk-disconnect-button'], & [class*='lk-participant-metadata'] {
    color: var(--text-color-1);
  }

  & [class*='lk-control-bar'] {
    display: none;
  }

  :global(.lk-room) {
    height: 100%;
  }

  :global(.lk-layout-wrapper),
  :global(.lk-video-conference) {
    height: 100%;
  }
}

.controlWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);

  .selector {
    width: 250px;
  }

  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.tips {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

