@use '@/a.app/styles/variables';

.chatWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-s) 0;
  overflow-y: scroll;
  height: 40vh;
  position: relative;

  &::-webkit-scrollbar {
    height: 4px;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background: var(--accent-color-1);
  }
}
