@use '@/a.app/styles/variables';

.chatWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--spacing-s);
  height: 40vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background: var(--accent-color-1);
  }
}
