@use '@/a.app/styles/variables';

.chatWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingS;
  padding: variables.$spacingS;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: variables.$spacingS;
  height: 40vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: variables.$borderRadius8px;
    background: variables.$accentColor1;
  }
}
