@use "@/a.app/styles/variables";

.uiFlex {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &Gap-xs {
    gap: var(--spacing-xs);
  }

  &Gap-s {
    gap: var(--spacing-s);
  }

  &Gap-m {
    gap: var(--spacing-m);
  }

  &Gap-l {
    gap: var(--spacing-l);
  }

  &Justify-start {
    justify-content: flex-start;
  }

  &Justify-center {
    justify-content: center;
  }

  &Justify-end {
    justify-content: flex-end;
  }

  &Justify-space-between {
    justify-content: space-between;
  }

  &Justify-space-around {
    justify-content: space-around;
  }

  &Align-start {
    align-items: flex-start;
  }

  &Align-center {
    align-items: center;
  }

  &Align-end {
    align-items: flex-end;
  }
}