@use '@/a.app/styles/variables';

.suggestions {
  display: flex;
  gap: var(--spacing-m);

  &Title {
    font-weight: bold;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-m);
}