@use '@/a.app/styles/variables';

.sendMessageWrapper {
  position: sticky;
  bottom: 0;
  padding: var(--spacing-s) 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--background-color-2);
    opacity: 1;
    z-index: -1;
  }
}

.input {
  flex: 1;
}
