@use '@/a.app/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.addWorkoutExerciseForm {
  display: flex;
  gap: var(--spacing-m);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.long {
  flex: 1;
}

.short {
  flex: .5;
}
