@use '@/a.app/styles/variables';

.coachesList {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingM;
  padding: 20px;
  background: #232333;
  box-shadow: variables.$boxShadow;
  border-radius: variables.$borderRadius8px;
}
