@use '@/a.app/styles/variables';

.typography {
  font-size: var(--font-size-m);

  &-ordinary {
    color: var(--text-color-1);
  }

  &-label {
    color: var(--text-color-2);
  }

  &-small {
    font-size: var(--font-size-s);
  }

  &-medium {
    font-size: var(--font-size-m);
  }

  &-large {
    font-size: var(--font-size-l);
  }

  &Bold {
    font-weight: bold;
  }
}