@use '@/a.app/styles/variables';

.typography {
  line-height: var(--line-height-base);

  font-size: var(--font-size-m);

  &Flex {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
  }

  &-ordinary {
    color: var(--text-color-1);
  }

  &-label {
    color: var(--text-color-2);
  }

  &-small {
    font-size: var(--font-size-s);
  }

  &-medium {
    font-size: var(--font-size-m);
  }

  &-large {
    font-size: var(--font-size-l);
  }

  &-xl {
    font-size: var(--font-size-xl);
  }

  &Bold {
    font-weight: bold;
  }
}

.label {
  font-size: var(--font-size-s);
  color: var(--text-color-2);
}