@use "@/a.app/styles/variables";

.uiCard {
  padding: var(--spacing-m);
  background: var(--background-color-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  @media (max-width: 640px) {
    padding: var(--spacing-s);
  }
}

.inverse {
  background: var(--main-color);
}