@use "@/a.app/styles/variables";

.uiCard {
  background: var(--background-color-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  @media (max-width: 640px) {
    padding: var(--spacing-s);
  }
}

.inverse {
  background: var(--main-color);
}

.contentWrapper {
  flex: 1;
  padding: var(--spacing-s);
}

.cardWithHeader {
  padding-top: 0;
}

.cardHeader {
  background: var(--background-color-5);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: var(--spacing-s);
}