@use '@/a.app/styles/variables';

.coachCard {
  cursor: pointer;
  transition: 0.2s;
  border-radius: variables.$borderRadius;
  padding: variables.$spacingXS;

  &:hover {
    background: variables.$backgroundColor2;
  }

  &:not(:last-child) {
    border-bottom: 1px solid variables.$backgroundColor1;
  }
}

.coachCardLink {
  text-decoration: none;
  color: variables.$textColor1;
}
