@use '@/a.app/styles/variables';

.coachCard {
  cursor: pointer;
  transition: 0.2s;
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);

  &:hover {
    background: var(--background-color-2);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--background-color-1);
  }
}

.coachCardLink {
  text-decoration: none;
  color: var(--text-color-1);
}
