@use  '@/a.app/styles/variables';

.addPlanMeal {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: var(--spacing-m);

  & input {
    flex: 2;
  }

  & [class*='ant-picker'] {
    flex:1;
  }
}