@use  '@/a.app/styles/variables';

.uiTabs div[role='tablist'] [class*='ant-tabs'][class*='ant-tabs-tab'] {
  color: var(--text-color-1);
  font-weight: bold;
}

div.uiTabs div[role='tablist'] [class*='ant-tabs-tab'][class*='ant-tabs-tab-active'] div {
  color: var(--accent-color-1);
}

.uiTabs div[role='tablist'] [class='ant-tabs-tab'] div:hover {
  color: var(--accent-color-1);
}

.uiTabs div[role='tablist'] [class*='ant-tabs-ink-bar'][class*='ant-tabs-ink-bar-animated'] {
  background: var(--accent-color-1);
  transition: none;
}

.uiTabs [class*='ant-tabs']:before {
  border-bottom-color: transparent;
}