@use '@/a.app/styles/variables';

.calendar {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
  padding: 32px 12px 32px;
  background: variables.$backgroundColor1;
  border-radius: variables.$borderRadius8px;
  box-shadow: variables.$boxShadow;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: variables.$borderRadius8px;
    background: variables.$accentColor1;
  }
}

.day {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: variables.$textColor2;
  color: variables.$textColor3;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: variables.$boxShadow;

  &Current {
    background: variables.$accentColor1;
  }

  &Disabled {
    background: variables.$textColor2;
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:hover {
    background: variables.$textColor1;
  }
}
