@use  '@/a.app/styles/variables';
;

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.totalCalories {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  align-items: center;
  font-size: 24px;
  margin-bottom: 12px;
}

.totalPfc {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
