@use  '@/a.app/styles/variables';
;

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.rolesWrapper {
  display: flex;
  gap: 24px;
}

.role {
  cursor: pointer;
  color: var(--text-color-2);
}

.activeRole {
  color: var(--main-color);
  font-weight: bold;
}
