@use '@/a.app/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  background: var(--main-color);
  width: 100%;
  margin: 0 auto 24px;
  z-index: 1;

  & a {
    text-decoration: none;
  }
}

.logo {
  font-size: var(--font-size-l);
  font-weight: bold;
  color: var(--accent-color-1);
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.linksAndLogoWrapper {
  display: flex;
  gap: var(--font-size-xl);
}

.userName {
  cursor: pointer;
}
