@use '@/a.app/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  background: variables.$mainColor;
  width: 100%;
  margin: 0 auto 24px;
  z-index: 1;

  & a {
    text-decoration: none;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: variables.$accentColor1;
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.linksAndLogoWrapper {
  display: flex;
  gap: variables.$fontSizeXL;
}

.linksWrapper {
  display: flex;
  gap: variables.$fontSizeM;
  align-items: center;

  & [class*='typography']:hover {
    color: variables.$accentColor1;
  }
}
