@use '@/a.app/styles/variables';

.messageWrapper {
  display: flex;
  justify-content: flex-start;
}

.authorMessage {
  justify-content: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-s);
  color: var(--text-color-1);
  border-radius: var(--border-radius);
  background: var(--main-color);
  flex: 0.5;
  border: 1px solid var(--border-color);
}

.userName {
  color: var(--text-color-2);
}

.authorMessage .message {
  background: var(--background-color-1);
}
