.mainContentWrapper {
  display: flex;
  gap: var(--spacing-m);
  margin-top: var(--spacing-l);
  flex-wrap: wrap;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: var(--spacing-s);
  }
}

.flexBlock {
  width: 100%;

  & > * {
    flex: 1;
  }

  @media (max-width: 640px) {
    & > * {
      flex-basis: 100%;
    }
  }
}