@use "@/a.app/styles/variables";

[class*='ant-select-outlined'] {
  border-color: variables.$borderColor;
}

[class*='ant-select'][class*='ant-select-outlined'] [class*='ant-select-selector'],
[class*='ant-select'][class*='ant-select-outlined'][class*='ant-select-focused'] [class*='ant-select-selector'],
 {
  background-color: variables.$borderColor;
  color: variables.$textColor1;
  border-color: variables.$borderColor!important;
}

div[class*='ant-select'][class*='ant-select-lg'][class*='ant-select-outlined']:hover div[class*='ant-select-selector'],
div[class*='ant-select'][class*='ant-select-lg'][class*='ant-select-outlined']:focus div[class*='ant-select-selector'],
div[class*='ant-select'][class*='ant-select-lg'][class*='ant-select-outlined']:focus-visible div[class*='ant-select-selector'] {
  background-color: variables.$borderColor;
  color: variables.$textColor1;
  border-color: variables.$accentColor1 !important;
}

[class*='ant-select'][class*='ant-select-outlined'] [class*='ant-select-selector'] [class*='ant-select-selection-placeholder'] {
  color: variables.$textColor2;
}

[class*='ant-select'][class*='ant-select-outlined'] [class*='ant-select-arrow'] {
  color: variables.$textColor2;
}
