@use "@/styles/variables";

.info {
  background: #232333;
  box-shadow: variables.$boxShadow;
  border-radius: variables.$borderRadius8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.note {
  grid-column-start: 1;
  grid-column-end: 4;
}