@use "@/a.app/styles/variables";

.plannedMealsListWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingM;
}

.titleWrapper {
  display: flex;
  gap: variables.$spacingS;
  align-items: center;
}

.plannedMealsList {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingS;
}

.tableTemplate {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr 1fr ;
  align-items: center;
}

.header {
  padding: 0 variables.$spacingS;
}

.mealItem {
  padding: variables.$spacingXS variables.$spacingS;
}
