@use "@/a.app/styles/variables";

.plannedMealsListWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.titleWrapper {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
}

.plannedMealsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background: var(--accent-color-1);
  }
}

.tableTemplate {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr 1fr ;
  align-items: center;
  min-width: 440px;
}

.header {
  padding: 0 var(--spacing-s);
}

.mealItem {
  padding: var(--spacing-xs) var(--spacing-s);
}
