@use '@/a.app/styles/variables';

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xs);
  background: var(--background-color-2);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);

  &Title {
    color: var(--text-color-2);
    font-weight: bold;
  }
}