@use '@/a.app/styles/variables';

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: variables.$spacingXS;
  background: variables.$backgroundColor2;
  box-shadow: variables.$boxShadow;
  padding: variables.$spacingXS;
  border-radius: variables.$borderRadius;

  &Title {
    color: variables.$textColor2;
    font-weight: bold;
  }
}