@use '@/a.app/styles/variables';

.modal {
  font-family: Inter, sans-serif;
}

.modal [class*='ant-modal-content'], .modal [class*='ant-modal-header'] {
  background-color: var(--background-color-2);
}

.modal [class*='ant-modal-title'], .modal [class*='ant-modal-close-x'] {
  color: var(--text-color-1);
}
