@use '@/a.app/styles/variables';

button.button[class*='ant-btn'][class*='ant-btn-default'] {
  background: variables.$accentColor1;
  border-color: variables.$accentColor1;
  color: variables.$mainColor;
  font-family: Inter, sans-serif;
  font-weight: bold;
  transition: 0.1s;
}

button.button[class*='ant-btn'][class*='ant-btn-default']:hover  {
  color: variables.$accentColor1;
  border-color: transparent;
  background: transparent;
}

button.button[class*='ant-btn'][class*='ant-btn-default']:disabled, button.button[class*='ant-btn'][class*='ant-btn-default']:disabled:hover {
  background: variables.$borderColor;
  border-color: variables.$borderColor;
  color: variables.$textColor2;
}