@use  '@/a.app/styles/variables';

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.goalsWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-m);

  @media (max-width: 640px) {
   display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.goalItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  background: var(--background-color-2);
  border-radius: var(--border-radius);
  flex: 1;
}

.addPlanMeal {
  display: flex;
  gap: var(--spacing-m);

  & input {
   flex: 2;
  }

  & [class*='ant-picker'] {
    flex:1;
  }
}
