@use  '@/a.app/styles/variables';

.connectionsWrapper {
  background: variables.$backgroundColor1;
  box-shadow: variables.$boxShadow;
  border-radius: variables.$borderRadius8px;
  padding: variables.$spacingM;
}