@use  '@/a.app/styles/variables';

.connectionsWrapper {
  background: variables.$backgroundColor1;
  border: 1px solid variables.$borderColor;
  border-radius: variables.$borderRadius;
  box-shadow: variables.$boxShadow;
  padding: variables.$spacingM;
}