@use  '@/a.app/styles/variables';

.connectionsWrapper {
  background: var(--background-color-1);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-m);
}