@use "@/a.app/styles/variables";

.page {
  color: variables.$textColor1;
  padding: 110px 54px 0 ;
}

.title {
  font-size: 68px;
  margin-bottom: 84px;
}

.button {
  font-size: 52px;
  padding: 42px;
}

.menuButtons {
  display: flex;
  gap: variables.$spacingS;
  padding: variables.$spacingM 0;
}
