@use "@/a.app/styles/variables";

.page {
  color: var(--text-color-1);
  padding: 110px 54px 0 ;

  @media (max-width: 1024px) {
    padding: var(--spacing-l) var(--spacing-m) 0 ;
  }

  @media (max-width: 640px) {
    padding: var(--spacing-m) var(--spacing-s) 0 ;

  }
}

.title {
  font-size: 68px;
  margin-bottom: 84px;
}

.button {
  font-size: 52px;
  padding: 42px;
}

.menuButtons {
  display: flex;
  gap: var(--spacing-s);
  padding: var(--spacing-m) 0;
}

.aiAssistantBlock {
  flex: 1;
}
