@use  '@/a.app/styles/variables';

.connectionCard {
  display: flex;
  gap: variables.$spacingM;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$spacingXS;
}

.link {
  text-decoration: none;
  color: variables.$textColor1;
}
