@use  '@/a.app/styles/variables';

.connectionCard {
  display: flex;
  gap: var(--spacing-m);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.link {
  text-decoration: none;
  color: var(--text-color-1);
}
